<table class="table myTable">
    <thead>
        <tr>
            <th class="text-center" >
                #
            </th>
            <th class="text-center">
                Nom
            </th>
            <th class="text-center" >
                <i class="fas fa-cog"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of hopital.services;">
          <th class="text-center" >
            {{service.id}}
          </th>
          <td class="text-center" >
            {{service.nom | uppercase}}
          </td>
          <td class="project-actions text-center">
            <a class="btn btn-action-edit btn-action"
            (click)="selectedservice = service"
            data-toggle="modal" data-target=".edit-service">
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-action-delete btn-action"
            (click)="selectedservice = service"
            data-toggle="modal" data-target=".delete-service">
                <i class="fas fa-trash"></i>
              </a>
          </td>
        </tr>
    </tbody>
</table>

<!-- update service -->
<div *ngIf="selectedservice"  class="modal fade edit-service myModal"  tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">modifier les informations de : <span>{{ selectedservice?.nom | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <app-update-service

                (isClosed)="isClosed.emit(true)"
                [service]="selectedservice"
                [hopital]="hopital">

              </app-update-service>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin update service -->

<!-- delete service -->
<div class="modal fade delete-service myModal"  tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">supprimer : <span>{{ selectedservice?.nom | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

              <h4 class="delete-msg">Voulez-vous vraiment le supprimer?!</h4>
              <input [(ngModel)]="deleteConfirmation" type="text"  parsley-trigger="change" required="" placeholder="confirmez la supprission en saisissant 'YES'" class="form-control delete-confirmation">

            </div>
            <div class="modal-footer">
                <button [disabled]="deleteConfirmation.toUpperCase() != 'YES'"
                (click)="deleteClient()" type="button" class="btn btn-delete waves-effect waves-light">Supprimer</button>
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Anuller</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin delete service -->
