<form [formGroup]="departementForm" class="myForm">

  <div class="form-group">
    <label for="nomCategorie">nom</label>
    <input type="text" class="form-control" formControlName="nom" placeholder="ex : ...." required style="text-transform: capitalize;">
    <p class="small alert-danger msg-error" *ngIf="departementForm.controls.nom.invalid && (departementForm.controls.nom.touched || departementForm.controls.nom.dirty)">Ce champ est null ou mal saisi</p>
  </div>
  <button

    type="submit" class="btn btn-form-submit"
    [disabled]="departementForm.pristine || departementForm.invalid || departementForm.controls.errors"
    (click)="updateDepartement()"
    >Enregistrer</button>

</form>
