<div  class="row" style="margin: 0;max-height: 250px;min-height: 250px;">
  <div style=" margin: 0; padding: 50px 60px; " class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box ">
      <div class="inner">
        <h3>{{medecins}}</h3>

        <p>MEDCIN</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div style=" margin: 0; padding: 50px 60px; " class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box ">
      <div class="inner">
        <h3>{{hopitaux}}</h3>

        <p>HOPITAUX</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div style=" margin: 0; padding: 50px 60px; " class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box ">
      <div class="inner">
        <h3>{{rendezVous?.length}}</h3>

        <p>rendez-vous</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
 
  <!-- ./col -->
</div>

<div  class="row wlc">

  <h1>welecome back to <strong>sbitari</strong></h1>

</div>