<div id="smartwizard">

    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#step-1">
            Step 1
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#step-2">
            Step 2
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#step-3">
            Step 3
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#step-4" >
            Step 4
          </a>
        </li>
    </ul>

    <div class="tab-content">
        <form [formGroup]="rdvForm" class="myForm">
        <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
            <div class="form-group">
                <label for="natureservice">nature service</label>
                <select class="form-control" formControlName="nservice"  (change)="onSelectnatureservice($event.target.value)">
                  <option *ngFor="let n of natureservlist" [value]="n.id">{{ n.nom }}</option>
                </select>
                <p class="small alert-danger msg-error" *ngIf="rdvForm.controls.nservice.invalid && (rdvForm.controls.nservice.touched || rdvForm.controls.nservice.dirty)">Ce champ est null ou mal saisi</p>
              </div>
              <div class="form-group">
                <label for="service">Service</label>
                <select class="form-control" formControlName="service"  (change)="onSelectService($event.target.value)">
                  <option *ngFor="let option of services" [value]="option.id">{{ option.nom }}</option>
                </select>
                <p class="small alert-danger msg-error" *ngIf="rdvForm.controls.service.invalid && (rdvForm.controls.service.touched || rdvForm.controls.service.dirty)">Ce champ est null ou mal saisi</p>
              </div> 
              
            
        </div>
        <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
          
            <div class="row">
                <div class='col-sm-12'>
                    <ngb-datepicker #dp formControlName="dateRdv" (navigate)="navigateEvent($event)"></ngb-datepicker>
                </div>
            </div>

        </div>
        <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
            Step 3 Content
        </div>
        <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
            Step 4 Content
        </div>
    </form>
    </div>
</div>