agm-map {
  height: 300px !important;
  width: 100%;  /* This is really important*/
}
.myForm{text-transform:uppercase;letter-spacing:2px}
.myForm .msg-error{padding:3px 14px;margin-top:7px;background-color:#de606c;letter-spacing:2px;text-transform:uppercase;font-size:12px;border-radius:10px;width:fit-content}
.btn-form-submit{background-color:#5fbfce;color:#fff;padding:6px 40px;transition:.6s;border:1px solid;letter-spacing:2px;text-transform:uppercase;font-weight:500}
.btn-form-submit:hover{background-color:#fff;color:#5fbfce}
button.close{color:#fff;transition:.6s}

.masthead { height: 65vh; min-height: 350px; background-image: url('../../../../assets/img/wall.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

.gm-style-iw.gm-style-iw-c { border-radius: 0; background-color: #00529c; padding: 20px !important; } 
.gm-style-iw-d {overflow: auto !important;} 
.card-body { background-color: #00529c; box-shadow: none; } 
.card.res-card { box-shadow: none; margin: 0; color: #fff; } 
a.btn.btn-primary.btn-res { background-color: #fff; border-radius: 100%; width: 50px; height: 50px; color: #00529c; line-height: 37px; font-size: 30px; padding: 6px; animation-duration: .6s; margin-left: 30px; } 
a.btn.btn-primary.btn-res:hover { background-color: #00529c; color: #fff; border: 5px solid #fff; font-size: 24px; line-height: 30px; }

.content{width:90%;margin:0 auto;padding:50px}
.content .card{border:none;box-shadow:none;border-radius:10px}
.content .card .card-header{border-bottom:5px solid #0001;padding:25px}
.content .card .card-header .card-title{text-align:center;text-transform:uppercase;letter-spacing:3px;color:#00529c;float:none}
.content .card .card-header .card-tools{float:none;position:absolute;top:20px;right:22px}
.content .card .card-header .btn-header{background:#00529c}
.content .card .card-body{padding:20px!important}
.myTable{border:1px solid #dee2e6}
.myTable th{background-color:#00529c;text-transform:uppercase;letter-spacing:5px;font-size:15px;color:#fff;text-align:center!important}
.myTable thead tr{color:#fff}
.myTable td{vertical-align:middle;letter-spacing:1px;font-size:15px;color:#00529c}
.btn-action{color:#fff!important;font-size:14px;margin:0 3px;border-radius:100%;width:36px;height:36px;line-height:36px;padding:0 10px;transition:.6s}
.btn-action:hover{border-radius:0}
.btn-action-view{background-color:#3c8dbc}
.btn-action-edit{background-color:#6c757d}
.btn-action-delete{background-color:#de606c}
.myModal{color:#00529c;font-size:15px}
.myModal .modal-header{background-color:#00529c;color:#fff;letter-spacing:2px}
.myModal .modal-header .modal-title{text-transform: uppercase;font-weight:900}
.myModal .modal-header span{background-color:#fff;color:#00529c;padding:0 10px;font-size: 14px;}
.delete-msg{text-transform:uppercase;text-align:center;padding:25px 0;color:#fff;letter-spacing:2px;font-weight:900;background-color:#de606c}
.delete-confirmation{background-color:#fff;border:1px solid #de606c;padding:26px;border-radius:0;text-transform:uppercase;letter-spacing:2px;font-weight:600}
.btn-delete{background-color:#de606c;color:#fff;text-transform:uppercase;letter-spacing:2px;font-size:14px;transition:.6s;padding:5px 15px}
.btn-delete:hover{padding:5px 30px;color:#fff}
.btn-action-add-dep { background-color: #27ae60; }
.btn-action-add-ser { background-color: #03A9F4; }

.myModal .card-body {
  background-color: #fff;
  box-shadow: none;
  border: none;
}

.myModal .card-header h5 {text-transform: uppercase;letter-spacing: 2px;font-weight: 900; cursor: pointer;}

.myModal .card-header {
  background-color: #dee8f2;
  text-align: center;
  padding: 25px;
}
a.brand-link {
  background-color: #fff2;
  border: 1px solid #fff1;
}