<header class="masthead w-wall">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <a routerLink="" class="brand-link">
          <img src="../../assets/img/logo.png" alt="AdminLTE Logo" class="iyo-logo">
        </a>
        <h2>réduire le <strong>nombre</strong> et les <strong>frais</strong> liés aux déplacements</h2>
        <h3>optimiser votre temps</h3>
      </div>
    </div>
  </div>
</header>

<section class="masthead">
<!-- Page Content -->
<section class="py-5" style=" max-height: 20vh !important; min-height: 20vh !important; ">
  <div class="container">
    <form [formGroup]="welcomeForm" class="myForm">
      <div class="row">
        <div class="col">
          <div class="col">
            <div class="form-group">
              <label for="categorie">Region</label>
              <select class="form-control" formControlName="region" (change)="onSelectregion($event.target.value)">
                <option *ngFor="let option of regions " [value]="option.id">{{ option.nomRegion }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="categorie">Ville</label>
            <select class="form-control" formControlName="ville" (change)="onSelectville($event.target.value)">
              <option *ngFor="let option of villes " [value]="option.id">{{ option.nomVille }}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


<section class="myMap">

  <div class="form-group">
    <agm-map style="height: 80vh !important; min-height: 350px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" [fitBounds]="fitBounds" [latitude]="lat" [longitude]="lng"
      [zoom]="initzoom">
      <agm-marker [agmFitBounds]="true" *ngFor="let item of hopitals" [latitude]="item.latitude"
        [longitude]="item.longitude">


        <agm-info-window style="padding: 0 !important;">
          <div class="card res-card">
            <div class="card-body">
              <h4 class="card-text"> {{item.nom}}
                <a class="btn btn-primary btn-res" (click)="selectedHopital = item; reset()" data-toggle="modal"
                  data-target=".reserver-modal">
                  <i class="far fa-check-circle"></i></a>
              </h4>

            </div>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

</section>
</section>
<div class="modal fade reserver-modal myModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myAddModalLabel">Prendre un rendez-vous</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body myModal">
        <div class="card" style=" box-shadow: none; ">
          <div class="card-body">

            <form [formGroup]="rendezVous" class="myForm">
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0">Choix de service</h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                      <div class="form-group">
                        <label for="name">nature de service </label>
                        <select class="form-control mySelect" formControlName="natureService"
                          (change)="onSelecNatureService($event.target.value)">
                          <option *ngFor="let natureService of natureServices" value="{{natureService.id}}">
                            {{natureService.nom}}</option>
                        </select>
                        <p class="small alert-danger msg-error"
                          *ngIf="rendezVous.controls.natureService.invalid && (rendezVous.controls.natureService.touched || rendezVous.controls.natureService.dirty)">
                          Ce champ est null ou mal saisi</p>
                      </div>

                      <div class="form-group">
                        <label for="name">service</label>
                        <select class="form-control mySelect" formControlName="service">
                          <option *ngFor="let service of services" value="{{service.id}}">{{service.nom}}</option>
                        </select>
                        <p class="small alert-danger msg-error"
                          *ngIf="rendezVous.controls.service.invalid && (rendezVous.controls.service.touched || rendezVous.controls.service.dirty)">
                          Ce champ est null ou mal saisi</p>
                      </div>



                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                    <h5 class="mb-0">Choix du créneau</h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">


                      <div class="form-row">

                        <div class="form-group col-md-6">
                          <label for="name">un rendez-vous le </label>
                          <input type="date" class="form-control" formControlName="dateRdv">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.dateRdv.invalid && (rendezVous.controls.dateRdv.touched || rendezVous.controls.dateRdv.dirty)">
                            Ce champ est null ou mal saisi</p>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="name">un rendez-vous à</label>
                          <input type="time" class="form-control timepicker" formControlName="heureRdv" max="17:00" step="300">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.heureRdv.invalid && (rendezVous.controls.heureRdv.touched || rendezVous.controls.heureRdv.dirty)">
                            Ce champ est null ou mal saisi</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                    <h5 class="mb-0">vos informations</h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <div class="form-row">

                        <div class="form-group col-md-4">

                          <label for="name">nom*</label>
                          <input type="text" class="form-control" formControlName="nom" placeholder="ex : NADIRI"
                            required style="text-transform: capitalize;">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.nom.invalid && (rendezVous.controls.nom.touched || rendezVous.controls.nom.dirty)">
                            Ce champ est null ou mal saisi</p>

                        </div>
                        <div class="form-group col-md-4">

                          <label for="name">prenom*</label>
                          <input type="text" class="form-control" formControlName="prenom" placeholder="ex : AYOUB"
                            required style="text-transform: capitalize;">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.prenom.invalid && (rendezVous.controls.prenom.touched || rendezVous.controls.prenom.dirty)">
                            Ce champ est null ou mal saisi</p>

                        </div>
                        <div class="form-group col-md-4">

                          <label for="name">telephone*</label>
                          <input type="text" class="form-control" formControlName="tel" placeholder="ex : 0601010100"
                            required style="text-transform: capitalize;">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.tel.invalid && (rendezVous.controls.prenom.touched || rendezVous.controls.tel.dirty)">
                            Ce champ est null ou mal saisi</p>

                        </div>



                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="name">adresse*</label>
                          <textarea class="form-control" formControlName="adresse"
                            placeholder="ex : massira 03 block B num 251, marrakech" cols="30" rows="2" required
                            style="text-transform: capitalize;"></textarea>
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.adresse.invalid && (rendezVous.controls.adresse.touched || rendezVous.controls.adresse.dirty)">
                            Ce champ est null ou mal saisi</p>
                        </div>
                      </div>

                      <div class="form-row">

                        <div class="form-group col-md-3">

                          <label for="name">cin*</label>
                          <input type="text" class="form-control" formControlName="cin" placeholder="ex : EE745585"
                            required style="text-transform: capitalize;">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.cin.invalid && (rendezVous.controls.cin.touched || rendezVous.controls.cin.dirty)">
                            Ce champ est null ou mal saisi</p>

                        </div>
                        <div class="form-group col-md-5">

                          <label for="name">email*</label>
                          <input type="text" class="form-control" formControlName="email"
                            placeholder="ex : a.nadiri@iyo.com" required style="text-transform: capitalize;">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.email.invalid && (rendezVous.controls.email.touched || rendezVous.controls.email.dirty)">
                            Ce champ est null ou mal saisi</p>

                        </div>
                        <div class="form-group col-md-4">

                          <label for="name">mot de passe*</label>
                          <input type="password" class="form-control" formControlName="passwd" placeholder="********"
                            required style="text-transform: capitalize;">
                          <p class="small alert-danger msg-error"
                            *ngIf="rendezVous.controls.passwd.invalid && (rendezVous.controls.passwd.touched || rendezVous.controls.passwd.dirty)">
                            Ce champ est null ou mal saisi</p>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end card-body -->

              <button type="submit" class="btn btn-form-submit"
                [disabled]="rendezVous.pristine || rendezVous.invalid || rendezVous.controls.errors"
                (click)="addRendezVous()">Enregistrer</button>

            </form>
          </div> <!-- end card-->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- fin nouveau commande modal -->