
  .login-page {
    background-image: url("/assets/img/login1.jpg");
   
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
 
}
#login{
  
    background-color:#0a4883 ;
}
.card-body{
    color: white;
}
.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text{
    color: white;
}

.login-logo a {
    color:#0a4883;
}

div#login {
  padding: 50px;
  border-radius: 13px/100px;
}

.login-box, .register-box {
  width: 450px;
}

.card {
  background-color: #0000;
  box-shadow: none;
}