
  .login-page {
    background-image: url("/assets/img/login1.jpg");
   
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
 
}
#login{
  
    background-color:#0a4883 ;
}
.card-body{
    color: white;
}
.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text{
    color: white;
}

.login-logo a {
    color:#0a4883;
 font-size: 50px;
}
