.content{width:90%;margin:0 auto;padding:50px}
.content .card{border:none;box-shadow:none;border-radius:10px}
.content .card .card-header{border-bottom:5px solid #0001;padding:25px}
.content .card .card-header .card-title{text-align:center;text-transform:uppercase;letter-spacing:3px;color:#00529c;float:none}
.content .card .card-header .card-tools{float:none;position:absolute;top:20px;right:22px}
.content .card .card-header .btn-header{background:#00529c}
.content .card .card-body{padding:20px!important}
.myTable{border:1px solid #dee2e6}
.myTable th{background-color:#00529c;text-transform:uppercase;letter-spacing:5px;font-size:15px;color:#fff;text-align:center!important}
.myTable thead tr{color:#fff}
.myTable td{vertical-align:middle;letter-spacing:1px;font-size:15px;color:#00529c}
.btn-action{color:#fff!important;font-size:14px;margin:0 3px;border-radius:100%;width:36px;height:36px;line-height:36px;padding:0 10px;transition:.6s}
.btn-action:hover{border-radius:0}
.btn-action-view{background-color:#3c8dbc}
.btn-action-edit{background-color:#6c757d}
.btn-action-delete{background-color:#de606c}
.myModal{color:#00529c;font-size:15px}
.myModal .modal-header{background-color:#00529c;color:#fff;letter-spacing:2px}
.myModal .modal-header .modal-title{text-transform: uppercase;font-weight:900}
.myModal .modal-header span{background-color:#fff;color:#00529c;padding:0 10px;font-size: 14px;}
.delete-msg{text-transform:uppercase;text-align:center;padding:25px 0;color:#fff;letter-spacing:2px;font-weight:900;background-color:#de606c}
.delete-confirmation{background-color:#fff;border:1px solid #de606c;padding:26px;border-radius:0;text-transform:uppercase;letter-spacing:2px;font-weight:600}
.btn-delete{background-color:#de606c;color:#fff;text-transform:uppercase;letter-spacing:2px;font-size:14px;transition:.6s;padding:5px 15px}
.btn-delete:hover{padding:5px 30px;color:#fff}
.btn-action-add-dep { background-color: #27ae60; }