<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> <b> Gestion de {{componentName}} </b></h3>

            <div class="card-tools">
                <a class="btn btn-header btn-action" data-toggle="modal" data-target=".add-hopital">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="card-body p-0" style="display: block;">
            <table class="table myTable">
                <thead>
                    <tr>
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            nom
                        </th>
                        <th class="text-center">
                            Ville
                        </th>
                        <th class="text-center">
                            categorie
                        </th>
                        <th class="text-center">
                            <i class="fas fa-cog"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hopital of hopitals;">
                        <th class="text-center">
                            {{hopital.id}}
                        </th>
                        <td class="text-center">
                            {{hopital.nom | uppercase}}
                        </td>
                        <td class="text-center" title="{{hopital.ville.region.nomRegion}}">
                            {{hopital.ville.nomVille}}
                        </td>
                        <td class="text-center">
                            {{hopital.categorie.nom}}
                        </td>

                        <td class="project-actions text-center">
                            <a class="btn btn-action-view btn-action" (click)="selectedHopital = hopital"
                                data-toggle="modal" data-target=".show-hopital">
                                <i class="fas fa-eye"></i>
                            </a>

                            <a class="btn btn-action-add-ser btn-action" (click)="selectedHopital = hopital"
                                data-toggle="modal" data-target=".add-service">
                                <i class="fas fa-check-double"></i>
                            </a>

                            <a class="btn btn-action-edit btn-action" (click)="selectedHopital = hopital"
                                data-toggle="modal" data-target=".edit-hopital">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-action-delete btn-action" (click)="selectedHopital = hopital"
                                data-toggle="modal" data-target=".delete-hopital">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<!-- add hopital -->
<div class="modal fade add-hopital myModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel"> {{ "nouveau " + componentName | uppercase }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                 <app-add-hopital

                (isClosed)="loadData($event)"
                ></app-add-hopital> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin add hopital -->

<!-- show hopital -->
<div class="modal fade show-hopital myModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">AFFICHER LES INFORMATIONS DE <span>{{ selectedHopital?.abriviation
                        +' : '+selectedHopital?.nom | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
           <app-hopital-details

                [hopital]="selectedHopital">

              </app-hopital-details> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin show hopital -->

<!-- update hopital -->
<div class="modal fade edit-hopital myModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">MODIFIER LES INFORMATIONS DE <span>{{ selectedHopital?.nom
                        + ' ' + selectedHopital?.prenom | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- <app-update-hopital

                (isClosed)="loadData($event)"
                [hopital]="selectedHopital">

              </app-update-hopital> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin update hopital -->

<!-- delete hopital -->
<div class="modal fade delete-hopital myModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">SUPPRIMER L'Hopital <span>{{ selectedHopital?.nom  | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <h4 class="delete-msg">Voulez-vous vraiment supprimer le hopital ?!</h4>
                <!-- <input [(ngModel)]="deleteConfirmation" type="text"  parsley-trigger="change" required="" placeholder="confirmez la supprission en saisissant 'YES'" class="form-control delete-confirmation"> -->


            </div>
            <div class="modal-footer">
                <button [disabled]="deleteConfirmation.toUpperCase() != 'YES'" (click)="deleteClient()" type="button"
                    class="btn btn-delete waves-effect waves-light">Supprimer</button>
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Anuller</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin delete hopital -->

<!-- add service -->
<div class="modal fade add-service myModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
    aria-hidden="true" style="display: none;" *ngIf="selectedHopital" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">liste des services</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <app-add-service [hopital]="selectedHopital" (isClosed)="loadData($event)"></app-add-service>
                <br>
                <app-service-list [hopital]="selectedHopital" (isClosed)="loadData($event)"></app-service-list>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin show service -->